.books-container {
    display: grid;
    /* background-color: red/; */
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.book-item {
    padding: 16px;
    border: 1px solid #ddd;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    /* justify-content: space-around; */ 
    /* grid-template-columns: 200px 200px 200px; */

}


.book-item img {
height: 80%;
}